html{
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
    width: 100%;
    height: 60px;
    border-style: solid;
    border-bottom: solid white 1px;
}
.header .logo{
    float: left;
    width: 40%;
    margin-top: 1px;
    margin-left: 100px;
}
.header .logo ul li {
    display: inline-block;
    width: auto;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}
.header .logo img{
    width: 55px;
    height: 55px;
}
.header .logo .liLogoText{
    position: fixed;
    margin-top: 17px;
    font-size: 25px;
}
.header .menu{
    float: right;
    width: 40%;
    text-align: right;
    margin-top: 22px;
}
.header .menu ul li {
    display: inline-block;
    width: auto;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}
.header .menu ul li a{
    color: black;
    text-decoration: none;
}
.header .menu ul li a:hover{
    color: green;
    opacity: 1;
}
.header .menu .active{
    color: green;
}
.body{
    width: 100%;
    text-align: center;
}
.body h1{
    font-size: 100px;
    margin-top: 200px;
}
.body p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
.body a{
    color: black;
    text-decoration: none;
    border-radius: 20px;
    background-color: yellowgreen;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}
.body a:hover{
    color: white;
    opacity: 1;
}
.bodyContent{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: white;
    position: absolute;
}
.bodyContentHeight{
    height: 95vh;
}
.bodyContent h2{
    font-size: 50px;
    padding-top: 50px;
}
.bodyContent .textLeft{
    text-align: left;
}
.bodyContent .left{
    width: 49%;
    float: left;
    text-align: justify;
}
.bodyContent .right{
    width: 49%;
    float: right;
    text-align: justify;
}
.bodyContent .line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.bodyContent .line h3{
    font-size: 25px;
}
.bodyContent .line a{
    text-decoration: none;
    color: cornflowerblue;
}
.bodyContent .line .size25{
    width: 24%;
    float: right;
    text-align: justify;
}
.bodyContent form input{
    width: 100%;
}
.bodyContent form textarea{
    width: 100%;
}
.bodyContent form button{
    color: black;
    background-color: yellowgreen;
    border: none;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 87px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;

}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: yellowgreen
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
@media (max-width: 1366px) {
    .bodyContentHeight{
        height: auto;
    }
}
@media (max-width: 800px) {
    .header .menu{
        width: 47%;
    }
    .body h1{
        margin-top: 100px;
    }
    .bodyContentHeight{
        height: auto;
    }
    .bodyContent h2{
        padding-top: 0px;
    }
    .bodyContent .left{
        width: 100%;
        margin-bottom: 50px;
    }
    .bodyContent .right{
        width: 100%;
        margin-bottom: 50px;
    }
    .bodyContent .line{
        display: block;
    }
    .bodyContent .line .left, .right{
        margin-bottom: 50px;
    }
    .bodyContent .line .size25{
        width: 100%;
        margin-bottom: 50px;
    }
}
@media (max-width: 400px) {
    .header{
        height: 90px;
    }
    .header .logo{
        width: 68%;
        padding-left: 32%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .header .logo ul li {
        margin-right: 0px;
    }
    .header .menu{
        width: 100%;
        margin-top: 0px;
    }
    .body h1{
        font-size: 70px;
        margin-top: 100px;
    }
    .bodyContentHeight{
        height: auto;
    }
    .bodyContent h2{
        padding-top: 0px;
    }
    .bodyContent .left{
        width: 100%;
        margin-bottom: 50px;
    }
    .bodyContent .right{
        width: 100%;
        margin-bottom: 50px;
    }
    .bodyContent .line{
        display: block;
    }
    .bodyContent .line .left, .right{
        margin-bottom: 50px;
    }
    .bodyContent .line .size25{
        width: 100%;
        margin-bottom: 50px;
    }
}